:root {
	/** Base setup ***/

	/* Spacing */
	--base-spacing: 8px;

  /** Font Family **/
  --base-font-family: 'Roboto', sans-serif;
  --base-font-size: 16px;

  /** Colors **/
  --base-color-dark-blue: #011F4B;
  --base-color-green: #1BC5BD;
  --base-color-mid-blue: #005B96;
  --base-color-light-blue: #F1FAFE;
  --base-color-yellow: #F6CA65;
  --base-color-gray: #7E8299;
}
